.mainContent {
  flex-grow: 1;
  padding-inline-start: 66px;
  padding-inline-end: 54px;
  padding-block-start: 56px;
  padding-block-end: 56px;
  background-color: var(--background-grey-light);
  margin-left: var(--sidebar-width);
  margin-top: var(--header-height);
  min-height: calc(100vh - var(--header-height));
  background: #F3F4F6;
  border-radius: 16px 0px 0px 0px;
}

.activeProjectsHeader {
  display: flex;
  justify-content: end;
  align-items: center;
}

